@font-face {
    font-family: "PixelChicago";
    src: url("../font/Chicago-12.BYDh-c1X.ttf");
    font-weight: normal;
    font-style: normal;
}




body {
    background-color: rgb(64, 0, 124);
    font-family: "PixelChicago";
    padding: 0%;
    margin: 0%;
}

.Header {
    width: 100%;
    background: #2b1d33;
    border-bottom: 3px solid #b47cff;
    height: 80px;
}

.Navegador {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 12px 24px;
    color: white;
}

.navLeft {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-left: -10px;
}

.home {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    position: relative;
    top: 30px;
    /* baja */
    left: 70px;
    /* mueve a la derecha */

}

.nav-logo {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.logo {
    font-size: 20px;
}

span {
    grid-column: 2;
    /* esto lo hace estar en una columna central */
    justify-self: center;
    /* en esta centra horizontalmente */
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;

}

.nav-derecha {
    display: flex;
    align-items: center;
    gap: 12px;

}

.nav-derecha img {
    width: 25px;
    height: 25px;
    object-fit: contain;

}

.nav-derecha .IconoGif {
    height: 33px !important;
    width: auto;
}